@font-face {
    font-family: 'Vividly';
    src: url('fonts/vividly-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Vividly', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid #000;
    padding: 20px;
    display: flex;
    width: 90vw;
    max-width: 1200px;
    margin-bottom: 20px; /* Platz für die Buttons unterhalb */
}

.preview {
    border: 2px solid #000;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 20px;
    width: 50%;
    display: flex;
    flex-direction: column; /* Für vertikale Anordnung von Bild und Buttons */
    align-items: center; /* Zentriert horizontal */
}

#previewContainer {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 50px; /* Abstand zwischen Bild und Buttons */
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.options {
    width: 50%;
    overflow-y: auto;
    max-height: 80vh;
}

.category {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.option-list {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

    .option-list img {
        width: 75px;
        cursor: pointer;
        margin: 5px;
        border: 1px solid black;
    }

        .option-list img.selected {
            border: 2px solid #8BC34A;
        }

h2 {
    text-align: center;
}

/* Scrollbar anpassen */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/* Styles für die Buttons */
#randomizeButton,
#downloadButton {
    font-family: 'Vividly', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 2px solid #689F38;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    width: 400px;
    margin: 10px auto; /* Zentriert die Buttons und gibt Abstand */
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-size: 30px;
    height: 80px;
    line-height: 50px;
    background-color: #689F38;
}

    #randomizeButton:hover,
    #downloadButton:hover {
        background-color: #3f631f;
        border-color: #23400a;
        transform: scale(1.02);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

    #randomizeButton:active,
    #downloadButton:active {
        transform: scale(0.98);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    }
